# Quarto execution & rendering artifacts
.quarto/
_site/
_freeze/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Environment & local settings
.Rproj.user
.Rhistory
.RData
.Ruserdata
.env

# Editor & IDE configs
.vscode/
.idea/
/.quarto/
**/*.quarto_ipynb
